@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(./images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}
.first-section {
  padding-inline: 10px;
}
.starting-logo {
  margin-block: 100px;
}
h1 {
  margin-bottom: 20px;
}
.download-btn {
  margin-top: 20px;
  margin-bottom: 100px;
}
h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}
p {
  color: hsl(201, 11%, 66%);
}
button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.iOS {
  background-color: hsl(171, 66%, 44%);
}
.Mac {
  background-color: hsl(233, 100%, 69%);
}
.img-preview {
  width: 100%;
  margin-top: 50px;
}
.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-block: 40px;
}
.icon {
  margin-top: 40px;
}
.final-section {
  background-color: hsla(202, 11%, 66%, 0.355);
  margin-top: 40px;
  padding-block: 20px;
}
.final-section img {
  width: 50px;
  margin-block: 30px;
}
.final-section h3 {
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  margin-top: 30px;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}
.contact img {
  width: 20px;
}
